<h3> Buscar por región <small>{{regionActive | titlecase}}</small></h3>
<hr>
<h5>
    seleccione una región
</h5>

<div class="row">
    <div class="col">
        <button 
        class="btn btn-outline-primary"
        *ngFor="let region of regions"
       [class.btn-primary]="region === regionActive"
        (click)="activateRegion(region)">

            {{region | titlecase}}
        </button>
    </div>

</div>
<ng-container  *ngIf="errorExist; else elseTemplate">
    <div class="alert alert-danger">
      No se encontró nada con el término {{ regionActive }}
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div>
      <app-country-table  [countries]="countries"></app-country-table>
    </div>
  </ng-template>